<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>SDR ADS-B + Twitter Sentiment Analysis Simulation</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-6 connectedSortable">

        <!-- Map -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Map</h3>
            <div class="box-tools pull-right">
            </div>
            <!-- /.box-tools -->
          </div>
          <div class="box-body">
            <!-- content here -->
            <iframe src="http://localhost:8081" width="100%" height="500px;"></iframe>
          </div>
        </div>

        <!-- ATC Radio -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">ATC Radio</h3>
            <div class="box-tools pull-right">
            </div>
            <!-- /.box-tools -->
          </div>
          <div class="box-body">
            <audio id="player2" preload="true" src="http://d.liveatc.net/kiad1_2" type="audio/mp3" controls="controls"
              autoplay="true">
            </audio>
          </div>
        </div>

        <!-- Weather -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Weather</h3>
            <div class="box-tools pull-right">
            </div>
            <!-- /.box-tools -->
          </div>
          <div class="box-body">
            <!-- Content here -->
          </div>
        </div>
      </section>
      <!-- /.Left col -->
      <!-- Right col -->
      <section class="col-lg-6 connectedSortable">

        <!-- Tweets -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Tweets</h3>
            <div class="box-tools pull-right">
            </div>
            <!-- /.box-tools -->
          </div>
          <div class="box-body">
         
            <iframe src="https://www.csc2.ncsu.edu/faculty/healey/tweet_viz/tweet_app/" width="100%" height="500px;" id="myiframe"></iframe>
          </div>
        </div>

        <!-- Sentiment -->
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Arrivals</h3>
            <div class="box-tools pull-right">
            </div>
            <!-- /.box-tools -->
          </div>
          <div class="box-body">
            <div class="airportia-widget">
              <iframe scrolling="no" frameborder="0" style="border:0; width: 100%; height: 95%; min-height: 650px; margin:0; padding:0;"
                src="https://www.airportia.com/widgets/airport/iad/arrivals"></iframe>
              <div style="font-family: arial,serif; font-size:12px; color:#3f9bdc; width: 100%; text-align: center; margin-top: 2px; padding-top: 5px; border-top: 1px solid #65747e;">
                <a style="text-decoration:none; color:#3f9bdc;" href="https://www.airportia.com/united-states/washington-dulles-international-airport/arrivals"
                  title="Washington Dulles International Airport Arrivals" target="_top">Washington Dulles
                  International Airport Arrivals</a> powered by <a style="text-decoration:none; color:#3f9bdc;" href="https://www.airportia.com"
                  target="_top">Airportia</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- right col -->
    </div>
    <!-- /.row (main row) -->
  </section>
  <!-- /.content -->
</div>